<div class="emptyEmojis" data-type="<%=type%>" style="display: none;">
    <div class="emptyEmojisSuggestion"></div>
    <span class="headerSecondary" style="margin-top: 10px;">
        No emojis here yet &dash; Here's a suggestion!
    </span>
</div>